/* Alle farver */

:root {
  --blueBlue100: #89bae9;
  --blueBlue200: #5199de;
  --blueBlue300: #1877d3;
  --blueBlue400: #125aa0;
  --blueBlue500: #0d3e6e;
  --blueBlue600: #0b3964;
  --greenGreen100: #90bfa5;
  --greenGreen200: #5da27c;
  --greenGreen300: #2c8554;
  --greenGreen400: #22653f;
  --greenGreen500: #17462c;
  --greenGreen600: #153e27;
  --yellowGul100: #ffc870;
  --yellowGul200: #fdb647;
  --yellowGul300: #f39c12;
  --yellowGul400: #d0850e;
  --yellowGul500: #965f08;
  --yellowGul600: #4d3106;
  --redRed100: #ff9999;
  --redRed200: #ff5c5c;
  --redRed300: #ed0000;
  --redRed400: #b60000;
  --redRed500: #810000;
  --redRed600: #760000;
}



:root {
  /* farver */
  --Primary-Text-Primary: #f2f2f2;
  --Primary-Text-Inverse: #0F0F0F;
  --Primary-Text-Highlight: #f39c12;
  --Bg-Primary: #0F0F0F;
  --Action-Primary: #f39c12;
  --Action-Primary-Hover: #fdb647;
  --Action-Primary-focus: #ffc870;

  /* spacing vertikalt */
  --space-card-stack-none: 0;
  --space-card-stack-xs: var(--spacing-xs);
  --space-card-stack-sm: var(--spacing-sm);
  --space-card-stack-md: var(--spacing-md);
  --space-card-stack-lg: var(--spacing-lg);
  --space-card-stack-xl: var(--spacing-xl);
  --space-card-stack-2xl: var(--spacing-2xl);

   /* spacing horisontalt */
  --space-card-inline-none: 0;
  --space-card-inline-xs: var(--spacing-xs);
  --space-card-inline-sm: var(--spacing-sm);
  --space-card-inline-md: var(--spacing-md);
  --space-card-inline-lg: var(--spacing-lg);
  --space-card-inline-xl: var(--spacing-xl);
  --space-card-inline-2xl: var(--spacing-2xl);
  --space-page-stack-none: 0;

  /* line height */
  --Line-height-Title: 110%;
  --Line-height-Body: 150%;

  /* font sizes */

      /* Display */
    --Font-size-Display-Heading: var(--fontSize-4xl);
    --Font-size-Display-Subheading: var(--fontSize-3xl);

      /* Heading */
    --Font-size-Heading-H1: var(--fontSize-2xl);
    --Font-size-Heading-H2: var(--fontSize-xl);
    --Font-size-Heading-H3: var(--fontSize-lg);

      /* Button */
    --Font-size-Button-Primary: var(--fontSize-lg);
    --Font-size-Button-Filter: var(--fontSize-base);

      /* Body */
    --Font-size-Body-Body: var(--fontSize-base);
    --Font-size-Body-Review: var(--fontSize-base);
    --Font-size-Body-Breadcrumb: var(--fontSize-sm);

      /* Navigation */
    --Font-size-Navigation-Menu: var(--fontSize-base);
    --Font-size-Navigation-Dropdown: var(--fontSize-base);

  /* Letter spacing */

      /* Display */
      --Letter-spacing-Display-Heading: calc(var(--Font-size-Display-Heading) * 0.12);
      --Letter-spacing-Display-Subheading: calc(var(--Font-size-Display-Subheading) * 0.12);

      /* Heading */
      --Letter-spacing-Heading-H1: calc(var(--Font-size-Heading-H1) * 0.12);
      --Letter-spacing-Heading-H2: calc(var(--Font-size-Heading-H2) * 0.12);
      --Letter-spacing-Heading-H3: calc(var(--Font-size-Heading-H3) * 0.12);

      /* Button */
      --Letter-spacing-Button-Primary: calc(var(--Font-size-Button-Primary) * 0.12);
      --Letter-spacing-Button-Filter: calc(var(--Font-size-Button-Filter) * 0.12);

      /* Body */
      --Letter-spacing-Body-Body: calc(var(--Font-size-Body-Body) * 0.12);
      --Letter-spacing-Body-Review: calc(var(--Font-size-Body-Review) * 0.12);
      --Letter-spacing-Body-Breadcrumb: calc(var(--Font-size-Body-Breadcrumb) * 0.12);

      /* Navigation */
      --Letter-spacing-Navigation-Menu: calc(var(--Font-size-Navigation-Menu) * 0..12);
}

