/* font-family: 'Anonymous Pro', monospace;
font-family: 'Black Ops One', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--bgPrimary);
  color: var(--textPrimary);
  font-family: "Open Sans", sans-serif;
}
main {
  margin-inline: 10%;
}

#breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#breadcrumb li {
  display: inline;
  font-size: 12.8px;
  text-decoration: none;

}

#breadcrumb li a {
  text-decoration: none;
  color:white;
}

#breadcrumb li:not(:last-child):after {
  content: ">";
  margin: 0 5px;
}




/* Skriftstørrelser */
h1{
	font-family: var(--blackOpsOneText6xlFontFamily);
	font-size: 40px;

}