/* font-family: 'Anonymous Pro', monospace;
font-family: 'Black Ops One', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--Bg-Primary);
  color: var( --Primary-Text-Primary);
  font-family:  var(--fontFamiliesFontSans);
}
main {
  margin-inline: 10%;
}

#breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#breadcrumb li {
  display: inline;
  font-size: var(--Font-size-Body-Breadcrumb);
  text-decoration: none;

}

#breadcrumb li a {
  text-decoration: none;
  color:var( --Primary-Text-Primary);
  font-size: 12.8px;

}

#breadcrumb li:not(:last-child):after {
  content: ">";
  margin: 0 5px;
}




/* Skriftstørrelser */
h1{
	font-family: var(--fontFamiliesFontDisplay);
	font-size: var(--fontSize3xl);

}




/* Navigationsmenuen */
.navbar {
  background-color: var(--Bg-Primary);
  color: var( --Primary-Text-Primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px; 
  padding-inline: 0px !important;
  
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-logo img {
  height: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  margin-left: var(--spaceCardInlineLg);
}


.navbar ul li a {
  text-decoration: none;
  color: var(--primaryHvid);
  font-family:var(--fontFamiliesFontMono);
  font-weight: bold;
  
}

.navbar ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  min-width: 200px;
  padding: 10px;
}

.dropdown-content a:hover {
  color: var(--Action-Primary)
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: var(--spaceCardInlineSm);
  margin-left: var(--spaceCardInlineXl);
}

.navbar-icons img {
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.active {
  text-decoration: underline !important;
}

/* Mediaforespørgsel for mobilvisning */

@media (min-width:600px) {
.navbar-burger {
    display: none;
  }


}
@media (max-width: 600px) {
.navbar ul {
    display: none;
  }
  .navbar-icons {
    display: none;
}

  .navbar ul.active {
    display: flex;
    flex-direction: column;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar-burger {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 40px;
    margin-right: 20px;
  }
}


main {
  margin-inline: 10%;
}
header {
  margin-inline: 10%;
}


.card_komponent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 width:100%;
 max-width:1000px;
 margin-block: auto;
margin-inline: var(--spacing-xl);
 gap: var(--spacing-lg)
}