---
import"../styles/style.css";
import"../styles/global.css";
import Nav from "../components/Nav.astro" ;
import Card from "../components/Card.astro" ;
import Singleview from "../components/Singleview.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Black+Ops+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<title>Birke 1972</title>
	</head>
	<body>
        <main>
        <h1>KOMPONENTBIBLIOTEK</h1>

        <h2>Card komponent</h2>

        <section class="card_komponent">
           <Card 
            produktbeskrivelse="T-SHIRT MED MILITÆR PRINT"
            pris="DKK 199,-"
		    /> 

            <Card 
            produktbeskrivelse="JOGGINGBUKSER MED STRETCH"
            pris="DKK 495,-"
		    /> 
            
            <Card 
            produktbeskrivelse="LØBESHORTS"
            pris="DKK 395,-"
		    /> 
        </section>

        <h2>Single view komponent</h2>
        <section>
            <Single />
        </section>

        <h2>Button komponent</h2>
        <section>
            <Button 
            tekst="hi"/>
        </section>
        </main>

        
		
		
		
	</body>
</html>

<style>
    main {
        margin-inline: 32px;
    }
    h1{
        text-align: center;
    }

    .card_komponent {
        display: flex;
        margin: var(--spaceCardInlineLg);
        gap: var(--spaceCardInlineLg);
        justify-content: center;
        align-items: center;
       
        
        
    }
</style>