---
import "../styles/style.css";
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Raad from "../components/Raad.astro";
import Raad1 from "../components/Raad1.astro";
import Grit from "../components/Grit.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Black+Ops+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <title>Jægersoldat</title>
  </head>
  <body>
    <header>
      <Nav>
        <div class="navbar">
          <div class="navbar-logo">
            <a href="/"> <img src="logo.webp" width="100%" height="100%" alt="Birkelogo" > </a>
          </div>
          <ul>
            <li>
              <a href="/nyheder">NYHEDER</a>
            </li>
            <li>
              <a href="/maend">MÆND</a>
            </li>
            <li>
              <a href="/kvinder">KVINDER</a>
            </li>
            <li>
              <a href="/accessories">ACCESSORIES</a>
            </li>

            <li class="dropdown">
              <span><a href="/om" class="active">OM BIRKE</a></span>
              <div class="dropdown-content">
                <a href="/soldat">JÆGERSOLDAT</a>
              </div>
            </li>
            <div class="navbar-icons">
              <img src="search.png" alt="Søg" width="100%" height="100%" onclick="handleSearcgClick()">
					  <img src="heart.png" alt="Hjerte" width="100%" height="100%" onclick="handleHeartClick()">
					  <img src="cart.png" alt="Kurv" width="100%" height="100%" onclick="handleCartClick()">
            </div>
          </ul>

          <div class="navbar-burger">&#9776;</div>
        </div>
      </Nav>
    </header>
    <main>
      <Nav />
      <Breadcrumb>
        <div id="breadcrumb">
          <ul>
            <li><a href="/">Forside</a></li>
            <li><a href="/om">Om Birke</a></li>
            <li><a href="/soldat  ">Jægersoldatens anbefalinger</a></li>
          </ul>
        </div>
      </Breadcrumb>

      <section class="top">
        <h1>JÆGERSOLDATENS ANBEFALINGER</h1>
        <img class="fladskam" src="fald.svg" alt="faldskam" width="336px" height="477px" />
      </section>
      <section>
        <Raad
          nummer="RÅD #1"
          overskrift="KROPPEN ER EN SLADREHANK"
          uddybende="Det er vigtigt at lytte til kroppens signaler og tilpasse træningspasene efter behov for at minimere risikoen for overbelastning og skader. Ved at være opmærksom på de signaler, kroppen sender, kan man justere træningsprogrammet, selvom man tidligere havde en fastlagt plan. Det er en måde at opretholde en sund træningsrutine på, samtidig med at man forstår og respekterer kroppens behov."
          citat="“Jeg har aldrig været fan af alt for fastlagte træningsprogrammer”"
        />
      </section>
      <section>
        <Raad1
          nummer="RÅD #2"
          overskrift="SIMPEL OG VARIERET TRÆNING"
          uddybende="Variation i træningen, både inden for løbetræning og på tværs af forskellige idrætsgrene, har været afgørende for mine bedste resultater og minimering af træningstræthed og skader. Ved at inkludere forskellige former for træning som orienteringsløb, cykling, styrketræning, svømning og march med tung rygsæk, opnåede jeg optimale resultater. Selvom alderen påvirker min præstationsevne, har jeg opdaget, at ved at variere mellem forskellige former for løb og fysisk træning opretholder jeg motivationen og minimerer smerterne fra et langt liv med fysisk udfoldelse. Uanset din favorit idrætsgren bør du kombinere den med andre typer træning for at opbygge en stærk og alsidig krop samt minimere risikoen for skader."
          citat="“Variation i træningen har været afgørende for mine bedste resultater, minimering af træningstræthed og opretholdelse af motivationen.”"
        />
      </section>
      <section>
        <Raad
          nummer="RÅD #3"
          overskrift="DET DER FUNGERER GODT FOR MIG, DUER IKKE NØDVENDIGVIS FOR ALLE"
          uddybende="At tage hensyn til ens egen situation er afgørende for resultatet og effekten af træningen. Forskelle i genetik, arbejde, privatliv, bopæl og træningsalder gør det svært at finde to mennesker med helt ens forudsætninger. Man bør ikke være bange for at prøve noget nyt eller eksperimentere med metoder, der har været succesfulde for andre. Det er ved at prøve noget nyt, man opdager, om ens nuværende tilgang giver de bedste resultater, eller om tilføjelse af nye elementer som bakketræning eller MTB-ture kan forbedre ens præstation. Hvis man fortsætter med at gøre det samme som altid, vil tingene sandsynligvis forblive som de altid har været, men det er ikke altid det bedste."
          citat=" “At tage udgangspunkt i ens egen situation er afgørende for resultatet og effekten af træningen, og det er vigtigt at eksperimentere og prøve nye tilgange for at opnå forbedringer.”"
        />
      </section>
      <h2>Jægersoldatens anmeldelse</h2>
      <section>
        <Grit
          title="JÆGERSOLDAT GENNEM 35 ÅR ANMELDER BRIKE"
          tekst="”Fysisk træning i almindelighed og løb i særdeleshed har nærmest været en passion for mig, siden jeg som 17 årig startede i forsvaret. Jeg har over årene dyrket alt fra militær femkamp, triatlon og landevejsløb fra 5.000 m til maraton, cross country, orienteringsløb, trailløb og OCR. Jeg styrke- og løbetræner stadig ca. hver anden dag, og deltager fra tid til anden i diverse motionsløb og events.” Jeg har i egenskab af bl.a. formand for Jægerkorpsets idrætsforening i mere end ét årti haft fornøjelse af, at samarbejde med Per Vorbeck om idrætsbeklædning til kvalitetsbevidste brugere siden 2014, og Birkes nye produkter lever fuldt ud op til mine forventninger og tidligere leverede produkter - både hvad angår design, funktionalitet og komfort. Min oplevelse af de enkelte produkter er helt i tråd med præsentationen af dem på Birkes hjemmeside."
          imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/files/BIRKE_0003_1080x.jpg?v=1665055551"
        />
      </section>
      <div class="stars">
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0544/0926/5329/files/BIRKE_0005_540x.jpg?v=1665054560"
            alt=""
            height="500"
            width="500"
          />
        </div>
        <div>
          <h3>TANK TOP</h3>
          <svg
            width="122"
            height="25"
            viewBox="0 0 122 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.9431 0L15.6636 8.37293H24.4675L17.345 13.5477L20.0656 21.9206L12.9431 16.7459L5.82066 21.9206L8.5412 13.5477L1.41875 8.37293H10.2226L12.9431 0Z"
              fill="#F39C12"></path>
            <path
              d="M37.178 0L39.8985 8.37293H48.7023L41.5799 13.5477L44.3004 21.9206L37.178 16.7459L30.0555 21.9206L32.7761 13.5477L25.6536 8.37293H34.4574L37.178 0Z"
              fill="#F39C12"></path>
            <path
              d="M61.4128 0L64.1334 8.37293H72.9372L65.8147 13.5477L68.5353 21.9206L61.4128 16.7459L54.2904 21.9206L57.0109 13.5477L49.8885 8.37293H58.6923L61.4128 0Z"
              fill="#F39C12"></path>
            <path
              d="M85.6477 0L88.3682 8.37293H97.1721L90.0496 13.5477L92.7701 21.9206L85.6477 16.7459L78.5253 21.9206L81.2458 13.5477L74.1233 8.37293H82.9272L85.6477 0Z"
              fill="#F39C12"></path>
            <path
              d="M109.883 0L112.603 8.37293H121.407L114.284 13.5477L117.005 21.9206L109.883 16.7459L102.76 21.9206L105.481 13.5477L98.3582 8.37293H107.162L109.883 0Z"
              fill="#F39C12"></path>
          </svg>
          <p>
            “De fleste test er gennemført under temp. på 20-25 grader og næsten
            vindstille vejr, og her fungerede Birkes Tank Top rigtig godt – ja,
            det føltes faktisk næsten som om, man ikke havde noget tøj på
            overkroppen, hvilket var helt perfekt i den danske sommervarme.”
          </p>

          <h3>RUN SHORTS</h3>
          <svg
            width="122"
            height="25"
            viewBox="0 0 122 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.9431 0L15.6636 8.37293H24.4675L17.345 13.5477L20.0656 21.9206L12.9431 16.7459L5.82066 21.9206L8.5412 13.5477L1.41875 8.37293H10.2226L12.9431 0Z"
              fill="#F39C12"></path>
            <path
              d="M37.178 0L39.8985 8.37293H48.7023L41.5799 13.5477L44.3004 21.9206L37.178 16.7459L30.0555 21.9206L32.7761 13.5477L25.6536 8.37293H34.4574L37.178 0Z"
              fill="#F39C12"></path>
            <path
              d="M61.4128 0L64.1334 8.37293H72.9372L65.8147 13.5477L68.5353 21.9206L61.4128 16.7459L54.2904 21.9206L57.0109 13.5477L49.8885 8.37293H58.6923L61.4128 0Z"
              fill="#F39C12"></path>
            <path
              d="M85.6477 0L88.3682 8.37293H97.1721L90.0496 13.5477L92.7701 21.9206L85.6477 16.7459L78.5253 21.9206L81.2458 13.5477L74.1233 8.37293H82.9272L85.6477 0Z"
              fill="#F39C12"></path>
            <path
              d="M109.883 0L112.603 8.37293H121.407L114.284 13.5477L117.005 21.9206L109.883 16.7459L102.76 21.9206L105.481 13.5477L98.3582 8.37293H107.162L109.883 0Z"
              fill="#F39C12"></path>
          </svg>
          <p>
            “Løbeshortsene kan anvendes både med og uden trusse, men for mig
            virker de bedst med en tynd underbuks indenunder. Shortsene har et
            rigtig godt snit og føles meget behagelige at have på - også når
            lårmusklerne kommer på max overarbejde op ad de stejle stier og
            skråninger i Rebild bakker.”
          </p>
        </div>
      </div>
      <section>
        <Grit
          title=" TRÆNINGSRÅD FRA EN JÆGERSOLDAT"
          tekst="”Carsten Møller har været jægersoldat siden 1987, og er tidligere ansvarlig for den fysiske træning i korpset samt formand for Jægerkorpsets idrætsforening igennem et årti. Carsten har været dedikeret løber i mere end 40 år, hvilket kombineret med hans erfaringer fra specialstyrkerne har givet ham en del viden om, hvordan man opbygger kroppen til, at kunne klare et højt belastningsniveau over lang tid - uden at få skader.NU deler han nogle af sine tanker og personlige erfaringer med træning gennem et langt, aktivt liv i et udfordrende og krævende miljø"
          imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/files/BIRKE_0002_900x.jpg?v=1664900751"
        />
      </section>

      <Footer />
    </main>
  </body>

  <style>
    .navbar ul.active {
    display: flex;
    flex-direction: column;
    top: 100px;
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100vh;
    text-decoration: none!important;
    padding-top: 32px;

}
    section {
      margin-top: var(--spacingXl);
      margin-bottom: var(--spacingXl);
    }
    .top {
      display: grid;
      grid-template-rows: auto;
      justify-items: center;
      align-items: center;
      margin-bottom: var(--spacingLg);
    }
    h2 {
      font-family: var(--blackOpsOneText6xlFontFamily);
      font-size: var(--blackOpsOneText6xlFontSize);
      padding-bottom: var(--spacingSm);
      color: var(--yellowGul300);
      text-align: center;
    }
    h3 {
      font-family: var(--anonymousProTextXlFontFamily);
      font-size: var(--anonymousProTextXlFontSize);
      max-width: 64vh;
      margin-bottom: var(--spacingMd);
    }
    p {
      font-family: var(--openSansTextBaseFontFamily);
      font-size: var(--openSansTextBaseFontSize);
      max-width: 64vh;
      margin-bottom: var(--spacingMd);
    }
    .stars {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      margin-bottom: var(--spacingMd);
      margin-top: var(--spacingMd);
    }
    @media (max-width: 768px) {
      .stars {
        grid-template-columns: 1fr;
        gap: 32px;
        text-align: left;
      }

      @media (max-width: 768px) {
        h2,
        h1 {
          font-size: var(--blackOpsOneTextXlFontSize);
        }
      }

      img {
        height: auto;
        width: 100%;
      }
    }

    .fladskam {
      max-width: 100%;
      animation: swing 3s ease-in-out alternate, scale 3s ease-in-out alternate;
      transform-origin: center;
      margin-top: 32px;
    }

    @keyframes swing {
      0% {
        transform: rotateZ(10deg) scale(0.5);
      }
      50% {
        transform: rotateZ(-10deg) scale(1);
      }
    }
  </style>
</html>
