---
const {tekst} = Astro.props;
---
<button id="myButton" class="primær_button">{tekst}</button>


<style>
    .primær_button {
        padding-inline: 32px;
        padding-block: 16px;
        color:black;
        background-color: var(--yellowGul300);
        border: none;
        font-family: var(--blackOpsOneText6xlFontFamily);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .primær_button.grøn {
        background-color: var(--actionPrimaryHover);
    }

</style>

<script>
    var button = document.getElementById("myButton");
    var isToggled = false;

    button.addEventListener("click", function () {
        if (isToggled) {
            button.classList.remove("grøn");
            button.textContent = "LÆG I KURV";
            isToggled = false;
        } else {
            button.classList.add("grøn");
            button.textContent = "TJEK DIN KURV";
            isToggled = true;
        }
    });
</script>