---
const {produktbeskrivelse, pris, imgPath} = Astro.props;
---
<article class="card">
  <a href="/singleview"><img src={imgPath} alt="" height="300" width="500" /> </a>
    <h3>{produktbeskrivelse}</h3>
    <p>{pris}</p>
   
</article>

<style>
    /* CSS-styling */
    .card {
      border-radius: 5px;
      font-family: var(--fontFamiliesFontMono);
      font-size: 1rem;
      cursor: pointer;
      
    }

    .card img {
      width: 100%;
      height: auto;
    }

    .card h3 {
      margin-top: var(--spaceCardStackMd);
      margin-bottom: var(--spaceCardStackNone);
    }

    .card p {
      font-weight: bold;
      margin-top: var(--spaceCardStackSm);
      margin-bottom: var(--spaceCardStackMd);
    }
  </style>