---
const {produktbeskrivelse, pris, imgPath} = Astro.props;
---
<article class="card">
  <a href="/singleview"><img src={imgPath} alt="produktbillede" height="300" width="500" /> </a>
    <h3>{produktbeskrivelse}</h3>
    <p>{pris}</p>
   
</article>

<style>
    /* CSS-styling */
    .card {
      border-radius: 5px;
      font-family: var(--fontFamiliesFontMono);
      font-size: var(--fontSize-md);
      cursor: pointer;
      width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
      
    }

    .card img {
      width: 100%;
      height: auto;
    }

    .card h3 {
      margin-top: var(--spaceCardStackMd);
      margin-bottom: var(--spaceCardStackNone);
    }

    .card p {
      margin-top: var(--spaceCardStackSm);
      margin-bottom: var(--spaceCardStackMd);
    }

    @media (max-width: 500px) {
  .card {
    padding: 10px;
  }
}
  </style>