<footer>
  <div>
    <ul>
      Regler og Betingelser
      <li>Handelsbetingelser</li>
      <li>Cookie politik</li>
      <li>Privatelivspolitik</li>
    </ul>
  </div>
  <div>
    <ul>
      Information
      <li>Kontakt</li>
      <li>Levering & Retunering</li>
    </ul>
  </div>
  <div>
    <ul>
      Social media
      <li>Instagram</li>
      <li>Facebook</li>
    </ul>
  </div>
</footer>

<style>
  footer {
    display: flex;
    gap: var(--spacingXl);
    border-top: 1px;
    border-top: solid var(--yellowGul300);
    padding-top: var(--spacingLg);
    margin-top: var(--spacingLg);
    margin-bottom: var(--spacingLg);
  }
  li {
    list-style-type: none;
    font-size: var(--openSansTextXsFontSize);
    font-family: var(--openSansTextXsFontFamily);
    padding-top: var(--spacingXs);
  }
  ul {
    font-size: var(--openSansTextSmFontSize);
    font-family: var(--openSansTextSmFontFamily);
    margin-inline: 10%;
    width: 150px;
  }
</style>
