


<footer>
    <div>
<ul> Regler og Betingelser  
    <li>Handelsbetingelser</li>
    <li>Cookie politik </li>
    <li>Privatelivspolitik  </li>
</ul>
</div>
<div>
<ul> Information   
    <li>Kontakt </li>
    <li>Levering & Retunering  </li>
</ul>
</div>
<div>
<ul> Social media   
    <li>Instagram </li>
    <li>Facebook </li>
</ul>
</div>
</footer>

<style> 
footer{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px;
    border-color: var(--yellowGul300);
}
li {
    list-style-type: none;
}

</style>