---
const { title, tekst, imgPath } = Astro.props;
---

<article>
  <div>
    <h2>{title}</h2>
    <p>{tekst}</p>
  </div>
  <div>
    <img src={imgPath} alt="" height="500" width="500" />
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  h2 {
    font-family: var(--anonymousProTextXlFontFamily);
    font-size: var(--anonymousProTextXlFontSize);
    max-width: 64vh;
    margin-bottom: var(--spacingMd);
  }
  p {
    font-family: var(--openSansTextBaseFontFamily);
    font-size: var(--openSansTextBaseFontSize);
    max-width: 64vh;
  }
  @media (max-width: 768px) {
    article {
      grid-template-columns: 1fr;
      gap: 16px;
      text-align: left;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
</style>
