---

---
<nav class="navbar">
    <div class="navbar-logo">
      <a href="/"> <img src="logo.webp" > </a>
    
    </div>
    <ul>
      <li>
        <a href="/nyheder">NYHEDER</a>
      </li>
      <li>
        <a href="/maend">MÆND</a>
      </li>
      <li>
        <a href="/kvinder">KVINDER</a>
      </li>
      <li>
        <a href="/accessories">ACCESSORIES</a>
      </li>
    
      <li class="dropdown">
        <span><a href="/om">OM BIRKE</a></span>
        <div class="dropdown-content">
            <a href="/soldat">JÆGERSOLDAT</a>
        </div>
      </li>
      <div class="navbar-icons">
      <img src="search.png" alt="Søg" onclick="handleSearcgClick()">
      <img src="heart.png" alt="Hjerte" onclick="handleHeartClick()">
      <img src="cart.png" alt="Kurv" onclick="handleCartClick()">
    </div>
    </ul>
    
    <div class="navbar-burger">&#9776;</div>
  </nav>

<style>
    /* CSS-styling */
    body {
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: var(--spacingLg); 
    }

    .navbar-logo {
      margin-right: 20px;
    }

    .navbar-logo img {
      height: 100%;
    }

    .navbar ul {
      list-style-type: none;
      display: flex;
    }

    .navbar ul li {
      margin-left: var(--spaceCardInlineLg);
    }

    .navbar ul li a {
      text-decoration: none;
      color: var(--primaryHvid)
    }

    .navbar ul li:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 200px;
      padding: 10px;
      color: white;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .navbar-icons {
      display: flex;
      align-items: center;
      gap: var(--spaceCardInlineSm);
      margin-left: var(--spaceCardInlineXl);
    }

    .navbar-icons img {
      height: 25px;
      margin-left: 10px;
      cursor: pointer;
    }

    /* Mediaforespørgsel for mobilvisning */

    @media (min-width:600px) {
    .navbar-burger {
        display: none;
      }

   
    }
    @media (max-width: 600px) {
    .navbar ul {
        display: none;
      }
      .navbar-icons {
        display: none;
    }

      .navbar ul.active {
        display: flex;
        flex-direction: column;
      }

      .navbar ul li {
        margin: 10px 0;
      }

      .navbar-burger {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 40px;
        margin-right: 20px;
      }

      /* Skjul burgermenuen i fuldskærm */
      
    }
  </style>


 <script>
    // JavaScript-kode til at håndtere klik på ikonerne
    function handleCartClick() {
      // Logik for kurv-ikonets klik
      console.log("Kurv blev klikket!");
    }

    function handleHeartClick() {
      // Logik for hjerte-ikonets klik
      console.log("Hjerte blev klikket!");
    }

    function handleSearchClick() {
      // Logik for søge-ikonets klik
      console.log("Søg blev klikket!");
    }

    // JavaScript-kode til at håndtere burgermenuen
    const navbarBurger = document.querySelector('.navbar-burger');
    const navbarMenu = document.querySelector('.navbar ul');

    navbarBurger.addEventListener('click', function() {
      navbarMenu.classList.toggle('active');
    });
</script>