---

---
<nav>
  <slot/>
  </nav>

<style>
    /* CSS-styling */
    body {
      margin: 0;
      padding: 0;
    }
    

  
  </style>


 <script>
    // JavaScript-kode til at håndtere klik på ikonerne
    function handleCartClick() {
      // Logik for kurv-ikonets klik
      console.log("Kurv blev klikket!");
    }

    function handleHeartClick() {
      // Logik for hjerte-ikonets klik
      console.log("Hjerte blev klikket!");
    }

    function handleSearchClick() {
      // Logik for søge-ikonets klik
      console.log("Søg blev klikket!");
    }

    // JavaScript-kode til at håndtere burgermenuen
    const navbarBurger = document.querySelector('.navbar-burger');
    const navbarMenu = document.querySelector('.navbar ul');

    navbarBurger.addEventListener('click', function() {
      navbarMenu.classList.toggle('active');
    });
</script>