---
const {nummer, overskrift, uddybende, citat} = Astro.props;
---
<article class="jægerraad">
    <div>
    <h2>{nummer}</h2>
    <h3>{overskrift}</h3>
    <p>{uddybende}</p>
    </div>
    <div> 
    <h4>{citat}</h4>
    </div>
   
</article>

<style> 
h2{
    font-family: var(--blackOpsOneText6xlFontFamily);
    font-size: var(--blackOpsOneText6xlFontSize);
    padding: var(--spacingSm);
    color: var(--yellowGul300)
}
h3{
    font-family: var(--anonymousProText2xlFontFamily);
    font-size: var(--anonymousProText2xlFontSize);
}
p {
 font-family: var(--openSansTextBaseFontFamily);
 font-size: var(--openSansTextBaseFontSize);
 max-width: 64vh;
}
h4{
font-family: var(--anonymousProTextXlFontFamily);
font-size: var(--anonymousProTextXlFontSize);
text-decoration: none;

}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

</style>



