---
const {produktbeskrivelse, pris} = Astro.props;
import Card from "../components/Card.astro" ;
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
---

<section >
  <div class="container">
    <div class="grid_1">
    <img src="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/3FA13A23-AB0F-4CC5-8F23-AEFA08817564_1_105_ccopy_720x.jpg?v=1679658089" alt="Produkt_Billede" width="400">
    <img src="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/groenback_540x.jpg?v=1679658089" alt="Produkt_Billede" width="400">
    <img src="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE4407copy_900x.jpg?v=1679658089" alt="Produkt_Billede" width="400">
   
  </div>
  <div class="grid_2">
    <div>
      <h2 class="title">INFILTRATOR SUPER STRETCH SHORTS 7" </h2>
        <p class="description">Grønne træningsshorts</p>
        <p class="price">DKK 449,-</p>
    </div>
  
    <div>
      <div class="size-container">
        <p class="size-info">Størrelse:</p>
        <p class="size-guide">Størrelsesguide</p>
      </div>
      
      <div class="size-buttons">
        <button class="size-button">XS</button>
          <button class="size-button">S</button>
          <button class="size-button">M</button>
          <button class="size-button">L</button>
          <button class="size-button">XL</button>
      </div>
    </div>
  
    <div>
      <p>Antal</p>
      <div class="quantity-container">
          
        <button class="minus-button">-</button>
        <input type="text" class="quantity-input" value="1">
        <button class="plus-button">+</button>
      </div>
    </div>
  
    <div class="buttons">
      <Button class="basket" href="#" variant="primary">LÆG I KURV</Button>
      <button class="heart-button" id="toggler">
        <img src="heartyellow.png" width="25px" alt="">
      </button>
    </div>
    <div class="infos">
      <div class="info">
        <p> ✔ 30 DAGES RETURRET</p>
      </div>
  
      <div class="info">
        <p> ✔ ALTID FRI FRAGT</p>
      </div>
  
      <div class="info">
        <p>✔ LEVERING 2-3 HVERDAGE</p>
      </div>
    </div>
  
    <div class="dropdowns">
      <h4 class="dropdown-title">Beskrivelse og pasform <span class="arrow-down">&#9662;</span></h4>
      <div class="dropdown-content-1">
        <p>Krafla takes its name from one of Iceland's most powerful volcanoes. This elegant long-length vest is designed to provide added warmth for those who battle the elements in their everyday commute. Boxy fit silhouette with a clean and simple design. Lightweight recycled down insulation with 700 fill power ensures enduring warmth without adding any bulk. The outer shell is made from 100% recycled fibers, colored with natural dyes. Two zipped front pockets and one inner zipped chest pocket. Male model is 189 cm / 6' 2" tall and wearing size M/L.</p>
      </div>
    </div>
  
    <div class="dropdowns">
      <h4 class="dropdown-title">Detaljer og pasning<span class="arrow-down">&#9662;</span></h4>
      <div class="dropdown-content-1">
        <div class="dropdown-content-flex">
          <img src="/public/feather.png" alt="" height="33px" width="33px">
          <h5 class="centered">LETVÆGT</h5>
        </div>
        <p>Det tynde men også stærke stof giver en dejlig let og luftig shorts.</p>


        <div class="dropdown-content-flex">
          <img src="/public/size.png" alt="" height="33px" width="33px">
          <h5>EKSTREMT STRÆKBARE</h5>
        </div>
        <p>Materialet har en unik stræk evne og kan strækkes op til dobbelt størrelse, så de følger med garanti kroppen uanset hvilke øvelser du laver uden de falder ned.</p>


        <div class="dropdown-content-flex">
          <img src="/public/breathe.png" alt="" height="40px" width="40px">
          <h5>ÅNDBAR</h5>
        </div>
        <p>Stoffet er strikket hvilket giver en utrolig god åndbarhed. Enhver form for fugt eller sved forsvinder med det samme.</p>
      </div>
      
    </div>

    <div class="dropdowns">
      <h4 class="dropdown-title">Anmeldelser (33) <span class="arrow-down">&#9662;</span></h4>
      <div class="dropdown-content-1">
        <div class="based">
          <div class="based_1">
           <h3>4,8</h3>
          <p>baseret på 33 anmeldelser</p> 
          </div>
          <div>
            <svg width="122" height="25" viewBox="0 0 122 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.9431 0L15.6636 8.37293H24.4675L17.345 13.5477L20.0656 21.9206L12.9431 16.7459L5.82066 21.9206L8.5412 13.5477L1.41875 8.37293H10.2226L12.9431 0Z" fill="#F39C12"/>
          <path d="M37.178 0L39.8985 8.37293H48.7023L41.5799 13.5477L44.3004 21.9206L37.178 16.7459L30.0555 21.9206L32.7761 13.5477L25.6536 8.37293H34.4574L37.178 0Z" fill="#F39C12"/>
          <path d="M61.4128 0L64.1334 8.37293H72.9372L65.8147 13.5477L68.5353 21.9206L61.4128 16.7459L54.2904 21.9206L57.0109 13.5477L49.8885 8.37293H58.6923L61.4128 0Z" fill="#F39C12"/>
          <path d="M85.6477 0L88.3682 8.37293H97.1721L90.0496 13.5477L92.7701 21.9206L85.6477 16.7459L78.5253 21.9206L81.2458 13.5477L74.1233 8.37293H82.9272L85.6477 0Z" fill="#F39C12"/>
          <path d="M109.883 0L112.603 8.37293H121.407L114.284 13.5477L117.005 21.9206L109.883 16.7459L102.76 21.9206L105.481 13.5477L98.3582 8.37293H107.162L109.883 0Z" fill="#F39C12"/>
          </svg>
          </div>
        </div>
        
           <div class="anmeldelser_scale">
        <svg width="455" height="102" viewBox="0 0 455 102" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.35938 6.90137C7.35938 7.40137 7.25781 7.87012 7.05469 8.30762C6.85156 8.74512 6.57552 9.12793 6.22656 9.45605C5.88281 9.77897 5.48438 10.0342 5.03125 10.2217C4.57812 10.4092 4.10156 10.5029 3.60156 10.5029C3.11198 10.5029 2.65885 10.43 2.24219 10.2842C1.82552 10.1383 1.45833 9.93001 1.14062 9.65918C0.828125 9.38835 0.575521 9.05501 0.382812 8.65918C0.190104 8.26335 0.0729167 7.81022 0.03125 7.2998L1.57031 7.07324C1.6224 7.66178 1.8125 8.13835 2.14062 8.50293C2.47396 8.8623 2.96094 9.04199 3.60156 9.04199C3.92969 9.04199 4.22135 8.9873 4.47656 8.87793C4.73698 8.76335 4.95573 8.6097 5.13281 8.41699C5.3151 8.22428 5.45312 7.99772 5.54688 7.7373C5.64583 7.47689 5.69531 7.19824 5.69531 6.90137C5.69531 6.21908 5.51823 5.68783 5.16406 5.30762C4.8151 4.92741 4.35156 4.7373 3.77344 4.7373C3.40365 4.7373 3.0599 4.81543 2.74219 4.97168C2.42969 5.12793 2.18229 5.38053 2 5.72949H0.382812V0.12793H6.76562V1.58887H2V4.22949C2.47917 3.59928 3.17708 3.28418 4.09375 3.28418C4.53125 3.28418 4.94792 3.37012 5.34375 3.54199C5.73958 3.70866 6.08594 3.94824 6.38281 4.26074C6.67969 4.56803 6.91667 4.94564 7.09375 5.39355C7.27083 5.84147 7.35938 6.34408 7.35938 6.90137Z" fill="white"/>
          <path d="M7.28125 33.4041H2.38281V31.9509H4.01562V30.6853H0V29.2244L3.72656 23.2087H5.61719V29.2244H7.28125V30.6853H5.61719V31.9509H7.28125V33.4041ZM4.01562 29.2244V25.115L1.45312 29.2244H4.01562Z" fill="white"/>
          <path d="M7.1875 53.7192C7.1875 54.1672 7.09635 54.5734 6.91406 54.938C6.73177 55.2974 6.48698 55.6047 6.17969 55.8599C5.8776 56.1151 5.52604 56.313 5.125 56.4536C4.72917 56.5942 4.3125 56.6646 3.875 56.6646C3.38021 56.6646 2.91927 56.5968 2.49219 56.4614C2.07031 56.326 1.69531 56.1229 1.36719 55.8521C1.04427 55.5812 0.78125 55.2323 0.578125 54.8052C0.375 54.3781 0.252604 53.8703 0.210938 53.2817L1.72656 53.0317C1.77865 53.7036 1.9974 54.2349 2.38281 54.6255C2.76823 55.0109 3.26562 55.2036 3.875 55.2036C4.38542 55.2036 4.79427 55.0682 5.10156 54.7974C5.41406 54.5265 5.57031 54.1672 5.57031 53.7192C5.57031 53.1099 5.3724 52.675 4.97656 52.4146C4.58073 52.1541 3.88802 52.0239 2.89844 52.0239V50.563C3.2474 50.563 3.57031 50.5291 3.86719 50.4614C4.16927 50.3937 4.43229 50.2922 4.65625 50.1567C4.88021 50.0213 5.05469 49.8599 5.17969 49.6724C5.3099 49.4797 5.375 49.2557 5.375 49.0005C5.375 48.5734 5.2474 48.2297 4.99219 47.9692C4.73698 47.7036 4.36458 47.5708 3.875 47.5708C3.23438 47.5708 2.74219 47.7453 2.39844 48.0942C2.0599 48.438 1.89062 48.9901 1.89062 49.7505H0.351562C0.351562 49.1515 0.4375 48.6255 0.609375 48.1724C0.78125 47.7192 1.02083 47.3416 1.32812 47.0396C1.63542 46.7323 2.00521 46.5031 2.4375 46.3521C2.86979 46.1958 3.34896 46.1177 3.875 46.1177C4.3125 46.1177 4.71875 46.1854 5.09375 46.3208C5.47396 46.451 5.80469 46.6411 6.08594 46.8911C6.3724 47.1411 6.59375 47.4432 6.75 47.7974C6.91146 48.1515 6.99219 48.5526 6.99219 49.0005C6.99219 49.2869 6.94531 49.5578 6.85156 49.813C6.76302 50.0682 6.63281 50.2948 6.46094 50.4927C6.29427 50.6906 6.08333 50.8521 5.82812 50.9771C5.57812 51.0968 5.29948 51.1672 4.99219 51.188C5.34635 51.2192 5.65885 51.3104 5.92969 51.4614C6.20052 51.6125 6.42969 51.8026 6.61719 52.0317C6.80469 52.2609 6.94531 52.5213 7.03906 52.813C7.13802 53.1047 7.1875 53.4067 7.1875 53.7192Z" fill="white"/>
          <path d="M7.07031 71.0054C7.07031 71.4845 6.94271 71.9741 6.6875 72.4741C6.43229 72.9741 6.08073 73.4481 5.63281 73.896L2.44531 76.9585H5.4375V75.5601H6.89844V78.4116H0.335938V76.8882L4.44531 72.9585C4.79948 72.5939 5.05469 72.2528 5.21094 71.9351C5.3724 71.6121 5.45312 71.3022 5.45312 71.0054C5.45312 70.7397 5.40104 70.5106 5.29688 70.3179C5.19792 70.1252 5.06771 69.9689 4.90625 69.8491C4.75 69.7241 4.57031 69.6356 4.36719 69.5835C4.16406 69.5262 3.96094 69.4976 3.75781 69.4976C3.11719 69.4976 2.61198 69.6851 2.24219 70.0601C1.8776 70.4351 1.69531 70.9897 1.69531 71.7241H0.179688C0.179688 70.5731 0.484375 69.672 1.09375 69.021C1.70833 68.37 2.59635 68.0444 3.75781 68.0444C4.19531 68.0444 4.61458 68.1095 5.01562 68.2397C5.41667 68.3647 5.76823 68.5496 6.07031 68.7944C6.3776 69.0392 6.61979 69.3491 6.79688 69.7241C6.97917 70.0991 7.07031 70.5262 7.07031 71.0054Z" fill="white"/>
          <path d="M6.07812 101.492H1.1875V100.039H2.82812V94.2424C2.75521 94.4976 2.6276 94.7242 2.44531 94.9221C2.26823 95.12 2.05208 95.2867 1.79688 95.4221C1.54688 95.5523 1.26562 95.6539 0.953125 95.7268C0.645833 95.7945 0.328125 95.8284 0 95.8284V94.2112C0.354167 94.2112 0.697917 94.1539 1.03125 94.0393C1.36979 93.9195 1.67188 93.7398 1.9375 93.5002C2.20312 93.2607 2.41667 92.9612 2.57812 92.6018C2.74479 92.2372 2.82812 91.8023 2.82812 91.2971H4.44531V100.039H6.07812V101.492Z" fill="white"/>
          <rect x="30.0049" y="1.93945" width="424.687" height="4.61616" fill="#D9D9D9"/>
          <rect x="30.0049" y="1.93945" width="366.985" height="4.61616" fill="#F39C12"/>
          <rect x="30.0049" y="27.3284" width="424.687" height="4.61616" fill="#D9D9D9"/>
          <rect x="30.0049" y="27.3284" width="303.513" height="4.61616" fill="#F39C12"/>
          <rect x="30.0049" y="52.7173" width="424.687" height="4.61616" fill="#D9D9D9"/>
          <rect x="30.0049" y="52.7173" width="177.722" height="4.61616" fill="#F39C12"/>
          <rect x="30.0049" y="73.49" width="424.687" height="5.7702" fill="#D9D9D9"/>
          <rect x="30.0049" y="73.49" width="84.2449" height="5.7702" fill="#F39C12"/>
          <rect x="30.0049" y="94.2627" width="424.687" height="5.7702" fill="#D9D9D9"/>
          </svg>
          <Button href="/" variant="primary">LÆS ALLE ANMELDELSER</Button>
          
      </div>
      </div>
     
    </div>
  <div>
  </div>
  
</div>
  </div>
  
  
<h2>SE ANDRE PRODUKTER</h2>
<div class="card_komponent">
  <Card 
  imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE4456_360x.jpg?v=1675599061"
   produktbeskrivelse="T-SHIRT MED MILITÆR PRINT"
   pris="DKK 199,-"
   /> 

   <Card 
   imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE_GIRL7296_720x.jpg?v=1668072174"
   produktbeskrivelse="JOGGINGBUKSER MED STRETCH"
   pris="DKK 495,-"
   /> 
   
   <Card 
   imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE_GIRL7271_720x.jpg?v=1668072251"
   produktbeskrivelse="CROP TANK - DARK CLAY"
   pris="DKK 275,-"
   /> 
   
 </div>
</section>


<style>
.quantity-container {
    background-color: #000;
    color: #fff;
    border: 2px solid var(--Action-Primary);
    padding: 8px;
    display: inline-flex;
    align-items: center;
  }

  .quantity-container button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1px 10px;
    font-size: 25px;
    line-height: 1;
  }

  .quantity-container input {
    background-color: #000;
    color: #fff;
    border: none;
    text-align: center;
    width: 30px;
    font-size: 16px;
    line-height: 1;
  }
.basket {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s;
  }

  .basket.clicked {
    background-color: #000;
    color: #fff;
  }

.heart-button img {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s;
  }

  .heart-button img:focus {
    transform: scale(1.6);
  }

  .heart-button img:active {
    transform: scale(0.3);
  }
  .size-button.active {
    background-color: var(--Action-Primary);
    color: var(--Bg-Primary);
  }

.based_1 {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  margin-bottom: 16px
}
.based {
  display: flex;
  justify-content: space-between;
}

.based h3 {
  text-align: center;
}
.based p {
  margin-bottom: 0px !important;
}
.grid_1 {
  width: 400px;
  height: auto;
}

  .dropdown-content-flex {
    display: flex;
  align-items: center;
  height: 100%; /* Make sure the parent has a height set */
  gap: 8px;
  margin-bottom: 16px;
  }

  .dropdown-content-flex h5{
   font-size: 16px;
  }

  .centered {
    text-align: center;
  }
  .buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
  .anmeldelser {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 8px;

  }

  .anmeldelser_scale {
    margin-bottom: 16px;
  }

  .anmeldelser p {
    font-family: var(--anonymousProText2xlFontFamily);
    font-size: var(--fontSizeLg);
    font-weight: bold;
  }
  .card_komponent {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
           width:100%;
           max-width:1000px;
           margin:64px auto;
           gap: 32px;
        }
.container {
  /* display: flex;
  flex-direction: row; */
  place-self: center;
  width: 100%;
    max-width: 1000px;
    margin: 64px auto;
}
.grid_2 {
  position: sticky;
  top:20px;
  height: 100%;
}



@media (min-width: 1200px) {
  .container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 100%;
    max-width: 1000px;
    margin: 64px auto;
    gap: 64px;
  }

  .grid_2 {
    width: 700px;
  }
}


.size-container {
 display: flex;
 justify-content: space-between;
 border-top:  1px solid var(--yellowGul300);
 padding-top: 8px;

}

.size-buttons {
  margin-top: 16px;
  margin-bottom: 64px;
  
}

.size-button {
  margin-right: 8px;
  border-color: var(--yellowGul300);
  background-color: black;
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.heart-button {
  margin-right: 8px;
  border-color: var(--yellowGul300);
  background-color: black;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.size-info{
    margin-top: 0;
    font-family: var(--fontFamiliesFontSans);
    font-family: var(--openSansTextBaseFontFamily);
    font-size: var(--openSansTextBaseFontSize);
    font-weight: bold;
}

.size-guide {
    margin-top: 0;
    cursor: pointer;
    font-family: var(--openSansTextBaseFontFamily);
    font-size: 12.8px;
    font-weight: bold;
    
}

.infos {
    display: flex;
    justify-content:space-between;
    gap:8px;
    margin-bottom: 64px;
    font-size: 12.8px;
}

.info {
  display:flex;
}

.quantity-container {
  margin-top: 16px;
  margin-bottom: 32px;
}

.quantity-container p {
  display: inline-block;
  margin-right: 5px;
}

.quantity-input {
  width: 40px;
  text-align: center;
}
.dropdown-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 32px;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--fontSizeLg)
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-content-1 {
  display: none;
  margin-top: 10px;
  background-color: #000000;
 
}

.dropdown-content-1 svg {
  margin-bottom: 16px;
}

.dropdown-content-1 p {
  margin-bottom: 32px;
}

.dropdowns.active .arrow-down {
  transform: rotate(180deg);
}

.dropdowns.active .dropdown-content-1 {
  display: block;
}

.title {
  margin-top: 0;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--anonymousProText2xlFontSize);
  font-weight: var(--anonymousProText2xlFontWeight)
  t
}

.description {
  margin-top: 8px;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--anonymousProTextXlFontSize);
  font-weight: var(--anonymousProText2xlFontWeight)
}

.price {
  margin-top: 8px;
  margin-bottom: 64px;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--anonymousProTextXlFontSize);
  font-weight: var(--anonymousProText2xlFontWeight)
}

.dropdowns.active {
  text-decoration: none !important;
}
</style>

<script>

  // Tilføj eventlyttere til plus- og minus-knapper
const minusButton = document.querySelector('.minus-button');
const plusButton = document.querySelector('.plus-button');
const quantityInput = document.querySelector('.quantity-input');

minusButton.addEventListener('click', decreaseQuantity);
plusButton.addEventListener('click', increaseQuantity);

function decreaseQuantity() {
let quantity = parseInt(quantityInput.value);
if (quantity > 1) {
  quantity--;
  quantityInput.value = quantity;
}
}

function increaseQuantity() {
let quantity = parseInt(quantityInput.value);
quantity++;

quantityInput.value = quantity;
}


// Tilføj eventlyttere til dropdown-titler
const dropdownTitles = document.querySelectorAll('.dropdown-title');
dropdownTitles.forEach((title) => {
title.addEventListener('click', toggleDropdowns);
});

function toggleDropdowns() {
const dropdowns = this.closest('.dropdowns');
dropdowns.classList.toggle('active');
}




  // Get all size buttons
  const sizeButtons = document.querySelectorAll('.size-button');

  // Function to handle button click
  function handleButtonClick() {
    // Remove 'active' class from all buttons
    sizeButtons.forEach(button => button.classList.remove('active'));

    // Add 'active' class to the clicked button
    this.classList.add('active');
  }

  // Attach click event listeners to each size button
  sizeButtons.forEach(button => button.addEventListener('click', handleButtonClick));



</script>




