---
const {produktbeskrivelse, pris} = Astro.props;
import Card from "../components/Card.astro" ;
import Button from "../components/Button.astro";
---

<section >
  <div class="container">
    <div class="grid_1">
    <img src="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/3FA13A23-AB0F-4CC5-8F23-AEFA08817564_1_105_ccopy_720x.jpg?v=1679658089" alt="Produkt_Billede" width="400">
  </div>
  <div class="grid_2">
    <div>
      <h2 class="title">INFILTRATOR SUPER STRETCH SHORTS 7" </h2>
        <p class="description">Grønne træningsshorts</p>
        <p class="price">DKK 449,-</p>
    </div>
  
    <div>
      <div class="size-container">
        <p class="size-info">Størrelse:</p>
        <p class="size-guide">Størrelsesguide</p>
      </div>
      
      <div class="size-buttons">
        <button class="size-button">XS</button>
          <button class="size-button">S</button>
          <button class="size-button">M</button>
          <button class="size-button">L</button>
          <button class="size-button">XL</button>
      </div>
    </div>
  
    <div>
      <p>Antal</p>
      <div class="quantity-container">
          
        <button class="minus-button">-</button>
        <input type="text" class="quantity-input" value="1">
        <button class="plus-button">+</button>
      </div>
    </div>
  
    <div class="buttons">
      <Button href="/" variant="primary">LÆG I KURV</Button>
      <button class="heart-button"><img src="heartyellow.png" width="25px" alt=""></button>
    </div>
  
    <div class="infos">
      <div class="info">
        <p> ✔ 30 DAGES RETURRET</p>
      </div>
  
      <div class="info">
        <p> ✔ ALTID FRI FRAGT</p>
      </div>
  
      <div class="info">
        <p>✔ LEVERING 2-3 HVERDAGE</p>
      </div>
    </div>
  
    <div class="dropdown">
      <h4 class="dropdown-title">Beskrivelse og pasform <span class="arrow-down">&#9662;</span></h4>
      <div class="dropdown-content">
        <p>Krafla takes its name from one of Iceland's most powerful volcanoes. This elegant long-length vest is designed to provide added warmth for those who battle the elements in their everyday commute. Boxy fit silhouette with a clean and simple design. Lightweight recycled down insulation with 700 fill power ensures enduring warmth without adding any bulk. The outer shell is made from 100% recycled fibers, colored with natural dyes. Two zipped front pockets and one inner zipped chest pocket. Male model is 189 cm / 6' 2" tall and wearing size M/L.</p>
      </div>
    </div>
  
    <div class="dropdown">
      <h4 class="dropdown-title">Detaljer og pasning<span class="arrow-down">&#9662;</span></h4>
      <div class="dropdown-content">
        <p>Krafla takes its name from one of Iceland's most powerful volcanoes. This elegant long-length vest is designed to provide added warmth for those who battle the elements in their everyday commute. Boxy fit silhouette with a clean and simple design. Lightweight recycled down insulation with 700 fill power ensures enduring warmth without adding any bulk. The outer shell is made from 100% recycled fibers, colored with natural dyes. Two zipped front pockets and one inner zipped chest pocket. Male model is 189 cm / 6' 2" tall and wearing size M/L.</p>
      </div>
    </div>
  
    <div>
      <div class="anmeldelser">
        <p>Anmeldelser (33)</p>
        <svg width="122" height="25" viewBox="0 0 122 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.9431 0L15.6636 8.37293H24.4675L17.345 13.5477L20.0656 21.9206L12.9431 16.7459L5.82066 21.9206L8.5412 13.5477L1.41875 8.37293H10.2226L12.9431 0Z" fill="#F39C12"/>
          <path d="M37.178 0L39.8985 8.37293H48.7023L41.5799 13.5477L44.3004 21.9206L37.178 16.7459L30.0555 21.9206L32.7761 13.5477L25.6536 8.37293H34.4574L37.178 0Z" fill="#F39C12"/>
          <path d="M61.4128 0L64.1334 8.37293H72.9372L65.8147 13.5477L68.5353 21.9206L61.4128 16.7459L54.2904 21.9206L57.0109 13.5477L49.8885 8.37293H58.6923L61.4128 0Z" fill="#F39C12"/>
          <path d="M85.6477 0L88.3682 8.37293H97.1721L90.0496 13.5477L92.7701 21.9206L85.6477 16.7459L78.5253 21.9206L81.2458 13.5477L74.1233 8.37293H82.9272L85.6477 0Z" fill="#F39C12"/>
          <path d="M109.883 0L112.603 8.37293H121.407L114.284 13.5477L117.005 21.9206L109.883 16.7459L102.76 21.9206L105.481 13.5477L98.3582 8.37293H107.162L109.883 0Z" fill="#F39C12"/>
          </svg>
          
      </div>
      <div class="anmeldelser_scale">
        
      </div>
      <Button href="/" variant="primary">LÆS ALLE ANMELDELSER</Button>
    </div>
  <div>
  </div>
  
</div>
  </div>
  
  
<h2>SE ANDRE PRODUKTER</h2>
<div class="card_komponent">
  <Card 
  imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE4456_360x.jpg?v=1675599061"
   produktbeskrivelse="T-SHIRT MED MILITÆR PRINT"
   pris="DKK 199,-"
   /> 

   <Card 
   imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE_GIRL7296_720x.jpg?v=1668072174"
   produktbeskrivelse="JOGGINGBUKSER MED STRETCH"
   pris="DKK 495,-"
   /> 
   
   <Card 
   imgPath="https://cdn.shopify.com/s/files/1/0544/0926/5329/products/BIRKE_GIRL7271_720x.jpg?v=1668072251"
   produktbeskrivelse="CROP TANK - DARK CLAY"
   pris="DKK 275,-"
   /> 
   
 </div>
</section>


<style>
  .buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
  .anmeldelser {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 8px;

  }

  .anmeldelser_scale {
    margin-bottom: 16px;
  }

  .anmeldelser p {
    font-family: var(--anonymousProText2xlFontFamily);
    font-size: var(--fontSizeLg);
    font-weight: bold;
  }
  .card_komponent {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
           width:100%;
           max-width:1000px;
           margin:64px auto;
           gap: 32px;
        }
.container {
  /* display: flex;
  flex-direction: row; */
  place-self: center;
  width: 100%;
    max-width: 1000px;
    margin: 64px auto;
}



@media (min-width: 1200px) {
  .container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    width: 100%;
    max-width: 1000px;
    margin: 64px auto;
    gap: 64px;
  }

  .grid_2 {
    width: 700px;
  }
}


.size-container {
 display: flex;
 justify-content: space-between;
 border-top:  1px solid var(--yellowGul300);
 padding-top: 8px;

}

.size-buttons {
  margin-top: 16px;
  margin-bottom: 64px;
  
}

.size-button {
  margin-right: 8px;
  border-color: var(--yellowGul300);
  background-color: black;
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.heart-button {
  margin-right: 8px;
  border-color: var(--yellowGul300);
  background-color: black;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.size-info{
    margin-top: 0;
    font-family: var(--fontFamiliesFontSans);
    font-family: var(--openSansTextBaseFontFamily);
    font-size: var(--openSansTextBaseFontSize);
    font-weight: bold;
}

.size-guide {
    margin-top: 0;
    cursor: pointer;
    font-family: var(--openSansTextBaseFontFamily);
    font-size: 12.8px;
    font-weight: bold;
    
}

.infos {
    display: flex;
    justify-content:space-between;
    gap:8px;
    margin-bottom: 64px;
    font-size: 12.8px;
}

.info {
  display:flex;
}

.quantity-container {
  margin-top: 16px;
  margin-bottom: 32px;
}

.quantity-container p {
  display: inline-block;
  margin-right: 5px;
}

.quantity-input {
  width: 40px;
  text-align: center;
}
.dropdown-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 32px;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--fontSizeLg)
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
  background-color: #000000;
 
}

.dropdown-content p {
  margin-bottom: 32px;
}

.dropdown.active .arrow-down {
  transform: rotate(180deg);
}

.dropdown.active .dropdown-content {
  display: block;
}

.title {
  margin-top: 0;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--anonymousProText2xlFontSize);
  font-weight: var(--anonymousProText2xlFontWeight)
  t
}

.description {
  margin-top: 8px;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--anonymousProTextXlFontSize);
  font-weight: var(--anonymousProText2xlFontWeight)
}

.price {
  margin-top: 8px;
  margin-bottom: 64px;
  font-family: var(--anonymousProText2xlFontFamily);
  font-size: var(--anonymousProTextXlFontSize);
  font-weight: var(--anonymousProText2xlFontWeight)
}

</style>

<script>
  // Tilføj eventlyttere til plus- og minus-knapper
const minusButton = document.querySelector('.minus-button');
const plusButton = document.querySelector('.plus-button');
const quantityInput = document.querySelector('.quantity-input');

minusButton.addEventListener('click', decreaseQuantity);
plusButton.addEventListener('click', increaseQuantity);

function decreaseQuantity() {
let quantity = parseInt(quantityInput.value);
if (quantity > 1) {
  quantity--;
  quantityInput.value = quantity;
}
}

function increaseQuantity() {
let quantity = parseInt(quantityInput.value);
quantity++;

quantityInput.value = quantity;
}


// Tilføj eventlyttere til dropdown-titler
const dropdownTitles = document.querySelectorAll('.dropdown-title');
dropdownTitles.forEach((title) => {
title.addEventListener('click', toggleDropdown);
});

function toggleDropdown() {
const dropdown = this.closest('.dropdown');
dropdown.classList.toggle('active');
}
</script>




