---
import Button from "../components/Button.astro" ;
---
<div class="container">
    <div class="form">
        <h4>BLIV EN DEL AF HOLDET</h4>
        <p>Følg med, der hvor det sker.</p>
      <div class="buttons">
        <input type="email" id="email" placeholder="Email" />
      <Button href="/" variant="primary" id="submit">TILMELD</Button>
      </div>
      
    </div>
  </div>

<style>
.buttons {
    display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
    font-family: var(--anonymousProText2xlFontFamily);
    font-size: var(--fontSize-lg);
}

.form {
  
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"] {
  padding: 5px;
  border: 2px solid var(--Action-Primary);
  background-color: black;
  height: 52px;
  width: 300px;
}



</style>